*{
    margin: 0;
    padding: 0;
    background-color:  hsl(172, 67%, 45%);
    
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
.main_container{
    margin-top: 500px;
}